<!Doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title>Django-star-demo</title>
		<script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="container">
			<header>
				<h1>{{ object.title }}</h1>
			</header>
			<nav id="admin">
				<a href="/admin/" title="Open Django Admin site" target="_blank">Admin</a>
			</nav>
			<section id="content">
				{% block content %}
				{% endblock %}
			</section>
			<footer>
				<address>Copyright &copy; 2011 giginet allright reserved.</address>
			</footer>
		</div>
	</body>
</html>