{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="/js/django.star.js"></script>
	<script type="text/javascript">
		$(function(){
			$('div.container').djangoStar({
				'url' : '/api/star/9/1/',
				'popup' : {
					'quote' : {
						'begin' : '「',
						'end' : '」'
					}
				},
				'del' : {
					'message' : '削除します。よろしいですか？'
				}
			});
		});
	</script>
{% endblock %}
	

{% block content %}
<article>
	<header>
		<h2>{{ object.title }}</h2>
		<div class="container"></div>
	</header>
	<section>
		{{ object.body }}
	</section>
</article>
{% endblock %}
